html {
  scroll-behavior: smooth;
}

body {
  @apply min-h-screen bg-background text-on-background text-body-md antialiased;
}

.focus-outline {
  @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-primary focus-visible:outline-offset-2;
}
